<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About KhumaloCraft</title>
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

        /* Header/Logo Title */
        .header {
            padding: 60px;
            text-align: center;
            background: burlywood ;
            color: white;
            font-size: 30px;
        }

        /* Page Content */
        .content {
            padding: 20px;
            background: white;
            color: black;
            font-weight: bold;
           
        }
    </style>
</head>
<body>

    <div class="header">
        <h1>Welcome To</h1>
        <p>Khumalo Craft's' Emporium</p>
    </div>

    <div class="content">
        <h1>Home Page</h1>
        <p>Welcome to the James Khumalo app, where visionary entrepreneurship meets a passion for handcrafted excellence. James Khumalo is dedicated to establishing KhumaloCraft Emporium as a premier global e-commerce platform, showcasing meticulously crafted products from artisans worldwide. Every item featured in this app is locally made and organically produced, reflecting our commitment to sustainability and supporting artisans' livelihoods. Join us in connecting discerning audiences with the rich tapestry of artisanal creations, as we embark on a journey to celebrate craftsmanship and cultural diversity.</p>
    </div>

</body>
</html>